[submodule "external/MCP251XFD"]
	path = external/MCP251XFD
	url = https://github.com/Emandhal/MCP251XFD.git
[submodule "external/libcanard"]
	path = external/libcanard
	url = https://github.com/OpenCyphal/libcanard
[submodule "external/o1heap"]
	path = external/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
[submodule "external/public_regulated_data_types"]
	path = external/public_regulated_data_types
	url = https://github.com/OpenCyphal/public_regulated_data_types.git
[submodule "external/BMP3_SensorAPI"]
	path = external/BMP3_SensorAPI
	url = https://github.com/boschsensortec/BMP3_SensorAPI.git
